<section class="page-about-us position-relative">
    <div class="container ">
        <h2 class="page-about-us__header text-uppercase text-white">
            sobre nosotros
        </h2>
        <div class="page-about-us__text text-white">
            Somos un equipo de entusiastas del marketing que tenían el sueño de unirse con colegas afines para crecer y desarrollarse juntos. ¡Logramos hacer realidad nuestro anhelado sueño! Creamos una comunidad de profesionales donde los especialistas en marketing pueden mostrar sus logros, compartir ideas y recibir apoyo de sus colegas.<br> 
            Nuestra ideología tiene como objetivo mejorar la calidad del trabajo y aumentar las habilidades profesionales de los especialistas en marketing a través del aprendizaje en equipo y el intercambio de experiencias.
        </div>
        <img src="img/sobre_img.svg" alt="" class="page-about-us__img position-absolute object-fit-cover w-75">
    </div>
</section>