<section class="page-business_solutions">
    <div class="container-fluid container-md overflow-hidden px-0">
        <div class="grid column-gap-md-5 row-gap-0" >
            <div class="g-col-12 px-0 mb-5">
                <div class="page-business_solutions__header text-center text-white">
                    <h2 id="my-element" class="page-business_solutions__header-text my-element inner-element z-2 w-100">Las mejores soluciones comerciales con la ayuda del contenido audiovisual</h2>
                    <video class="page-business_solutions__header-video rounded-md-4"  src="ocean.mp4" autoplay loop muted></video>
                    <span  class="page-business_solutions__header-video_overlay"></span>
                </div>
            </div>
            <div class="g-col-12 g-col-md-6 px-0 " >
                <div class="page-business_solutions__card page-business_solutions__card--left p-3 row m-0 align-items-center rounded-md-4">
                    <p class=" text-white m-0 col-8">Premios anuales
                        de contenido
                        audiovisual 2023</p>
                </div>
            </div>
            <div class="g-col-12 g-col-md-6 px-0">
                <div class="page-business_solutions__card page-business_solutions__card--right p-3 row m-0 justify-content-end align-items-center rounded-md-4">
                    <p class="page-business_solutions__card-text text-white m-0 col-8">Creamos una sinergia de genios del marketing para un impacto poderoso</p>
                </div>
            </div>
        </div>
    </div>
</section>
