<section class="page-business_solutions">
    <div class="container">
        <div class="row row-cols-2 ">
            <div class="col-12">
                <header class="page-business_solutions__header text-center text-white">
                    <h2 id="my-element" class="page-business_solutions__header-text my-element inner-element z-2">Las mejores soluciones comerciales con la ayuda del contenido audiovisual</h2>
                    <video class="page-business_solutions__header-video" src="ocean.mp4" autoplay loop></video>
                    <span  class="page-business_solutions__header-video_overlay"></span>
                </header>
            </div>
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>
</section>
