<section class="page-en_youtube bg-primary">
    <div class="container">
        <header class="page-en_youtube__header py-5 text-white">
            <h2>Estamos en YouTube</h2>
        </header>
        <div class="page-en_youtube__content row row-cols-2 gy-lg-5 gy-3 justify-content-between">
            <div class="page-en_youtube__content-box col-12 col-md-6">
                <div class="video-overlay">
                    <img src="img/icon-play.svg" alt="Play Icon" class="play-icon">
                  </div>
                <video id="video" src="ocean.mp4"></video>
            </div>
            <div class="page-en_youtube__content-box col-12 col-md-6">
                <div class="video-overlay">
                    <img src="img/icon-play.svg" alt="Play Icon" class="play-icon">
                  </div>
                <video id="video" src="ocean.mp4"></video>
            </div>
            <div class="page-en_youtube__content-box col-12 col-md-6">
                <div class="video-overlay">
                    <img src="img/icon-play.svg" alt="Play Icon" class="play-icon">
                  </div>
                <video id="video"  src="ocean.mp4"></video>
            </div>
            <div class="page-en_youtube__content-box col-12 col-md-6">
                <div class="video-overlay">
                    <img src="img/icon-play.svg" alt="Play Icon" class="play-icon">
                  </div>
                <video id="video"  src="ocean.mp4"></video>
            </div>
        </div>
    </div>
</section> 