<section class="page-events">
    <div class="container">
        <h2 class="page-events__header py-5 text-white text-uppercase d-none d-lg-block">Nuestros eventos</h2>
        <div class="page-events__accordion d-flex flex-column flex-xl-row">
          <div class="page-events__accordion_item rounded-4 d-flex flex-column p-4 expand">
            <div class="page-events__accordion_item-top d-flex justify-content-between justify-content-lg-center align-items-center mb-3">
              <p class="page-events__accordion_item-title mb-3">Reuniones temáticas</p>
              <img class="page-events__accordion_item-status d-lg-none" src="img/arrow_accordion.svg" alt=""></div>
              <p class="page-events__accordion_item-text m-0 overflow-y-auto">
                Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
              </p>
          </div>
          
          <div class="page-events__accordion_item rounded-4 d-flex flex-column p-4 small">
            <div class="page-events__accordion_item-top d-flex justify-content-between justify-content-lg-center align-items-center mb-3">
              <p class="page-events__accordion_item-title mb-3">Eventos online</p>
              <img class="page-events__accordion_item-status d-lg-none" src="img/arrow_accordion.svg" alt="">
            </div>
              <p class="page-events__accordion_item-text m-0 overflow-y-auto">
                Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
              </p>
          </div>
          
            <div class="page-events__accordion_item rounded-4 d-flex flex-column p-4 small">
              <div class="page-events__accordion_item-top d-flex justify-content-between justify-content-lg-center align-items-center mb-3">
                <p class="page-events__accordion_item-title mb-3">Business lunches </p>
                <img class="page-events__accordion_item-status d-lg-none" src="img/arrow_accordion.svg" alt=""></div>
                <p class="page-events__accordion_item-text m-0 overflow-y-auto">
                  Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                  Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                </p>
            </div>
            <div class="page-events__accordion_item rounded-4 d-flex flex-column p-4 small">
              <div class="page-events__accordion_item-top d-flex justify-content-between justify-content-lg-center align-items-center mb-3">
                <p class="page-events__accordion_item-title mb-3">Forums de marketing </p>
                <img class="page-events__accordion_item-status d-lg-none" src="img/arrow_accordion.svg" alt=""></div>
                <p class="page-events__accordion_item-text m-0 overflow-y-auto">
                  Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                  Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                </p>
            </div>
            <div class="page-events__accordion_item rounded-4 d-flex flex-column p-4 small">
              <div class="page-events__accordion_item-top d-flex justify-content-between justify-content-lg-center align-items-center mb-3">
                <p class="page-events__accordion_item-title mb-3">Premios anuales de contenido audiovisual 2023</p>
                <img class="page-events__accordion_item-status d-lg-none" src="img/arrow_accordion.svg" alt=""></div>
                <p class="page-events__accordion_item-text m-0 overflow-y-auto">
                  Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                  Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                </p>
            </div>
            <div class="page-events__accordion_item rounded-4 d-flex flex-column p-4 small">
              <div class="page-events__accordion_item-top d-flex justify-content-between justify-content-lg-center align-items-center mb-3">
                <p class="page-events__accordion_item-title mb-3">Reuniones de mesa redonda</p>
                <img class="page-events__accordion_item-status d-lg-none" src="img/arrow_accordion.svg" alt=""></div>
                <p class="page-events__accordion_item-text m-0 overflow-y-auto">
                  Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                  Para ahorrar tiempo a nuestros compañeros, hacemos eventos online utilizando diversas plataformas y herramientas de comunicación. Estas pueden ser webinars, conferencias virtuales, seminarios online u otros formatos que permiten a los especialistas en marketing de todo el mundo reunirse, debatir temas actuales, compartir conocimientos y experiencias, así como hacer preguntas y recibir respuestas de expertos en el campo del marketing.
                </p>
            </div>
        </div>
    </div>
</section>
