</main>
<!-- main end -->
<footer class="page-footer border-top text-white bg-primary p-3 z-n1">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column flex-xl-row">
        <div class="col page-footer__top d-flex flex-column align-items-start mb-4">
          <h2 class="page-footer__top-title text-uppercase fw-regular fw-xl-semibold text-lg-nowrap">Club de marketing de Madrid</h2>
          <a href="#" class="page-footer__top-link flex-shrink-0 bg-white text-primary rounded">CONTACTANOS</a>
          <img src="img/logo_for_footer.svg" alt="Logo" class="page-footer__top-logo">
        </div>
        <div class="col d-flex">
          <ul class="page-footer__nav nav flex-column justify-content-between">
            <li class="page-footer__nav-item nav-item px-0">
              <a class="page-footer__nav-link nav-link text-white animated-underline" href="#">Premios anuales de contenido audiovisual</a>
            </li>
            <li class="page-footer__nav-item nav-item ">
              <a class="page-footer__nav-link nav-link text-white" href="#">Sobre nosotros</a>
            </li>
            <li class="page-footer__nav-item nav-item">
              <a class="page-footer__nav-link nav-link text-white" href="#">Nuestros eventos</a>
            </li>
            <li class="page-footer__nav-item nav-item">
              <a class="page-footer__nav-link nav-link text-white" href="#">Calendario de eventos</a>
            </li>
            <li class="page-footer__nav-item nav-item">
              <a class="page-footer__nav-link nav-link text-white" href="#">F.A.Q</a>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="./js/vendor.js"></script>
<script src="./js/main.js"></script>
</html>
