<!DOCTYPE html>
<html class="page" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="#fff">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <title>Title</title>
  <link rel="shortcut icon" href="./img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="./img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="./img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="./img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="./img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="./img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="./img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="./img/favicons/apple-touch-icon-1024x1024.png">
  
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>
  <!-- header start -->
  <header class="page-header sticky-top border-bottom d-lg-flex align-items-center">
    <div class=" px-0 h-100 container">
      <div class="row g-0 h-100">
        <a class="navbar-brand d-none d-lg-block col m-0 align-self-center" href="#">
          <img src="img/logo.svg" alt="logo">
        </a>
        <nav class="navbar navbar-expand-lg h-100 py-0 align-items-center col">

          <!-- Кнопка для открытия offcanvas -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
            aria-controls="offcanvasMenu">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Основное меню, скрываемое в offcanvas -->
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasMenuLabel">Меню</h5>
              <!-- Кнопка для закрытия offcanvas -->
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Закрыть"></button>
            </div>
            <div class="offcanvas-body">
              <a class="navbar-brand d-lg-none m-0" href="#">
                <img src="img/logo.svg" alt="logo">
              </a>
              <ul class="navbar-nav d-flex flex-grow-1 align-items-center justify-content-between me-3">
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre nosotros</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Premios 2023</a></li>
                <li class="nav-item d-flex align-items-center">
                  <svg class="flex-shrink-0" width="15" height="16" viewBox="0 0 15 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M7.5 9.5C11.64 9.5 15 11.07 15 13V15.5H0V13C0 11.07 3.36 9.5 7.5 9.5ZM14 13C14 11.62 11.09 10.5 7.5 10.5C3.91 10.5 1 11.62 1 13V14.5H14V13ZM7.5 0.5C8.42826 0.5 9.3185 0.868749 9.97487 1.52513C10.6313 2.1815 11 3.07174 11 4C11 4.92826 10.6313 5.8185 9.97487 6.47487C9.3185 7.13125 8.42826 7.5 7.5 7.5C6.57174 7.5 5.6815 7.13125 5.02513 6.47487C4.36875 5.8185 4 4.92826 4 4C4 3.07174 4.36875 2.1815 5.02513 1.52513C5.6815 0.868749 6.57174 0.5 7.5 0.5ZM7.5 1.5C6.83696 1.5 6.20107 1.76339 5.73223 2.23223C5.26339 2.70107 5 3.33696 5 4C5 4.66304 5.26339 5.29893 5.73223 5.76777C6.20107 6.23661 6.83696 6.5 7.5 6.5C8.16304 6.5 8.79893 6.23661 9.26777 5.76777C9.73661 5.29893 10 4.66304 10 4C10 3.33696 9.73661 2.70107 9.26777 2.23223C8.79893 1.76339 8.16304 1.5 7.5 1.5Z"
                      fill="black" />
                  </svg>
                  <a href="#" class="nav-link ms-1">Premios 2023</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                  <img class="flex-shrink-0" src="img/lang.svg" alt="">
                  <a href="#" class="nav-link">ES</a>
                </li>

              </ul>
            </div>
          </div>

          <div class="contacts bg-violet d-flex align-items-center py-0 px-3 h-100">
            <p class="me-3 my-0">Contactanos</p>
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25 25L1 0.999998M1 0.999998L1 24.04M1 0.999998L24.04 1" stroke="#0A0A0A" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </div>
        </nav>
      </div>

  </header>
  <!-- header end -->
  <main class="wrapper">
    <!-- main start -->