<section class="page-hero">
  <div class="container-fluid">
    <div class="page-hero__inner">
      <div class="row align-self-start">
        <div class="col-6 p-0">
            
        </div>
        <div class="col-6 p-0">
          <video autoplay loop width="960">
            <source src="ocean.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
    
  </div>
</section>
