<section class="page-hero">
  <div class="container-fluid">
    <div class="page-hero__inner">
      <div class="page-hero__content__row-one row">
        <div class="col-12 col-lg-6 p-0"></div>
        <div class="col-12 col-lg-6 p-0">
          <video class="page-hero__content-video" autoplay loop src="ocean.mp4"></video>
        </div>
      </div>
      <div class="page-hero__content__row-two row">
        <div class="col-12 col-lg-6 p-0 bg-secondary d-flex align-items-center justify-content-center">
              <div class="row row-cols-2 g-3 col-10">
                <a href="#" class="col-8 link link-whatsapp ">
                  <div class=" bg-violet h-100 rounded"></div>
                </a>
                <a href="#" class="col-4 link link-telegram">
                  <div class=" bg-orange h-100 rounded"></div>
                </a>
                <a href="#" class="col-12 link link-events ">
                  <div class=" bg-yellow h-100 rounded">
                    <p class="">Calendario de eventos</p>
                    <div class="link__decor row d-flex">
                        <p class="link__decor-number">02</p>
                        <img src="img/arrow.svg" alt="" class="link__decor-arrow">
                    </div>
                    <div class="row"></div>
                  </div>
                </a>
              </div>
      </div>
    </div>
  </div>
  </div>
</section>