<section class="page-hero">
  <div class="container-fluid">
    <div class="page-hero__inner">
      <div class="page-hero__content__row-one row">
        <div class="col-12 col-xl-6 p-0 d-flex flex-column justify-content-center align-items-center ">
          <div class="page-hero__title-box d-inline-flex flex-column my-3">
            <h1 class="page-hero__title text-uppercase text-start text-white">Club</h1>
            <h1 class="page-hero__title text-uppercase text-center text-white">de marketing</h1>
            <h1 class="page-hero__title text-uppercase text-end text-white">de Madrid</h1>
             <a href="#" class="page-hero__title-btn mt-2 rounded bg-white flex-shrink-0 align-self-center align-self-xl-end">Unirse</a>
          </div>
         
        </div>
        <div class="col-12 col-xl-6 p-0">
          <video class="page-hero__content-video" autoplay loop src="ocean.mp4"></video>
        </div>
      </div>
      <div class="page-hero__content__row-two row">
        <div class="col bg-primary d-flex justify-content-center align-items-center py-5">
          <div class="row row-cols-2 flex-wrap g-2 col-10 ">
            <div class="col-12 col-md-7 position-relative">
              <div class="page-hero__link-box bg-violet rounded d-flex flex-column justify-content-between">
                <div class="page-hero__link-info d-flex  justify-content-between">
                    <a href="#" class="page-hero__link stretched-link">whatsapp</a>
                    <img src="img/whatsapp.svg" alt="" class="page-hero__link-icon">
                </div>
                <div class="page-hero__link-decor d-flex justify-content-between align-items-end">
                    <p class="page-hero__link-number m-0">01</p>
                    <img src="img/arrow.svg" alt="" class="page-hero__link-arrow">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-5 position-relative">
              <div class="page-hero__link-box bg-orange rounded d-flex flex-column justify-content-between">
                <div class="page-hero__link-info d-flex  justify-content-between">
                    <a href="#" class="page-hero__link icon-link stretched-link">telegram</a>
                    <img src="img/telegram.svg" alt="" class="page-hero__link-icon">
                </div>
                <div class="page-hero__link-decor d-flex justify-content-between align-items-end">
                  <p class="page-hero__link-number m-0">02</p>
                  <img src="img/arrow.svg" alt="" class="page-hero__link-arrow">
              </div>
              </div>
            </div>
            <div class="col-12 position-relative">
              <div class="page-hero__link-box bg-yellow rounded d-flex flex-column justify-content-between">
                <div class="page-hero__link-info d-flex  justify-content-between">
                    <a href="#" class="page-hero__link stretched-link">Calendario de eventos</a>
                </div>
                <div class="page-hero__link-decor d-flex justify-content-between align-items-end">
                    <p class="page-hero__link-number m-0">03</p>
                    <img src="img/arrow.svg" alt="" class="page-hero__link-arrow">
                </div>
              </div>
            </div>
           
          </div>
        </div>
        <div class="col-lg d-none d-xl-flex align-items-center justify-content-center">
          <img src="img/logo2.svg" alt="" class="">
        </div>
      </div>
    </div>
  </div>
</section>