<section class="page-inspiration my-5 py-md-5">
    <div class=" container-fluid container-md">
        <div class="row">
            <div class="col-12 p-0">
                <div class="page-inspiration__box w-100 m-0 row d-flex flex-column align-items-center px-5 py-5">
                    <div class="col page-inspiration__text text-white text-center fw-semibold">Creemos que cada persona que se dedique al marketing, tiene habilidades e ideas únicas que pueden hacer una valiosa contribución a nuestra profesión.
                        Queremos inspirarte para que seas el mejor entre los mejores.</div>
                    <div class="col-4 p-0">
                        <a href="" class="page-inspiration__btn btn bg-white btn-hover--white mt-5 text-uppercase w-100">Unirse</a>

                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>