<section class="page-marketing-madrid bg-primary pt-5">
    <div class="container position-relative ">
        <div class="row mb-4 d-sm-flex align-items-center">
            <header class="page-marketing-madrid__header text-white col-sm-9">Llamamiento a los compañeros de marketing de Madrid </header>
            <div class="d-flex justify-content-center col-sm-3">
              <img src="img/logo__madrid.svg" alt="" class="page-marketing-madrid__logo z-0">
            </div>
        </div>
       <div class="page-marketing-madrid__dropdown-text d-flex flex-column ">
        <div class="collapse" id="collapseExample">
          <div class="text-white">
           <p class="mb-3">Nos dirigimos a ustedes, profesionales del marketing, los que se esfuerzan por lograr resultados extraordinarios en su trabajo. Creemos que juntos podemos crear algo grande, superar los límites y alcanzar nuevas cimas. En este discurso queremos destacar la importancia de unirnos y trabajar colectivamente para alcanzar el máximo potencial.</p>
           <p class="mb-3">Animamos a todos las personas que se dedican al marketing, independientemente de su experiencia o área de especialización, a trabajar codo con codo y avanzar juntos. Creemos que la colaboración y la cooperación son fundamentales para lograr resultados superiores. Juntos podemos superar retos, compartir conocimientos y experiencias, e inspirarnos mutuamente con nuevas ideas y enfoques. </p>
           <p class="mb-3">Instamos a que sean abiertos y al intercambio de experiencias. Compartamos nuestros éxitos y fracasos, aprendamos de la experiencia de los demás y contribuyamos al desarrollo de la comunidad del marketing. Juntos podemos abrir nuevos horizontes, utilizar tecnologías y estrategias avanzadas y encontrar soluciones innovadoras para nuestros clientes y marcas.</p>
           <p class="mb-3">Hacemos un llamamiento a la cooperación y el apoyo mutuo. Creemos juntos una sólida comunidad de profesionales del marketing en la que cada miembro pueda encontrar apoyo, asesoramiento e inspiración. Nuestras reuniones se celebrarán en diversos actos, conferencias y plataformas en línea para debatir problemas, compartir conocimientos y crear proyectos conjuntos. Juntos podemos superar cualquier obstáculo y lograr resultados asombrosos.</p>
          </div>
        </div>
        <div class="page-marketing-madrid__dropdown-btn align-self-center my-5">
          <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <span class="btn-text text-grey">Leer más</span>
            <span class="arrow-icon">
              <svg class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 28L26 18L24.59 16.59L17 24.17L17 4H15L15 24.17L7.41 16.59L6 18L16 28Z" fill="#818181"/>
              </svg>
            </span>
          </a>
        </div>
       </div>
    </div>
</section>