<section class="page-our_blog">
    <div class="container">
        <h2 class="page-our_blog__header"></h2>
        <div class="page-our_blog__grid collapse grid">
            <div class="g-col-3 page-our_blog__item">
                <img width="330" height="215" src="img/our_blog.jpg" alt="" class="page-our_blog__item-img rounded-4">
                <p class="page-our_blog__item-title">El Poder de la Mercadotecnia: Estrategias para el Éxito Empresarial</p>
                <p class="page-our_blog__item-description collapse">Introducción:<br>La mercadotecnia, o marketing en inglés, es una disciplina fundamental en el mundo empresarial que busca entender las necesidades y deseos de los consumidores para crear, comunicar y entregar valor a través de productos y servicio</p>
                <div class="page-our_blog__item-footer d-flex justify-content-between align-items-center">
                    <p class="page-our_blog__item-reading_time">Lectura de 3 minutos</p>
                    <button class="page-our_blog__item-btn btn d-flex">Leer
                        <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.068 0.625L21 3.99995L17.068 7.375V6.025L18.892 4.4773H0.75V3.5227H18.892L17.068 1.975V0.625Z" fill="white"/>
                            </svg>                            
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>