.page-en_youtube{
    &__header{
        h2{
            font-family: 'Impact';
        font-size: 24px;
        line-height: normal;
        @include media-breakpoint-up(lg) {
            font-size: 50px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 86px;
        }
        }
        
    }
    &__content{
        &-box{
            position: relative;
            .play-icon {
                width: 50px;
                height: 50px;
                opacity: 0.7;
              }
              .video-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                
                background-color: rgba($primary, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: opacity 0.3s;
              }
              &:hover .video-overlay {
                opacity: 0;
              }
            height: 60vw;
            @include media-breakpoint-up(md) {
                height: 50vw;
            }
            @include media-breakpoint-up(xl) {
              height: 40vw;
            }
            @include media-breakpoint-up(xxl) {
                width: 798px;
                height: 665px;
                padding: 0 !important;
            }
           
            video{
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__btn{
        padding: 7px 10px;
        font-size: 16px;
        @include media-breakpoint-up(md) {
            padding: 15px 0;
            font-size: 18px;
        }
        @include media-breakpoint-up(lg) {
            
            font-size: 20px;
        }
        @include media-breakpoint-up(xl) {
            padding: 23px 0;
        }

    }
}