.page-hero {
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    &__content {
        &-video {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        &__row-one {
            height: 800px;
        }
        &__row-two {
            height: 700px;
            .link {
                div{
                    padding: 20px;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
                height: 245px;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
            }
        }
    }
}
